blinker==1.8.2
build==1.2.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
disposable-email-domains==0.0.105
dnspython==2.6.1
EmailSenderPy @ git+https://github.com/H3LL0U/EmailPy.git@dfdc4208bd3bce339cc566fa253f609731cea616
filelock==3.16.0
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
imap-tools==1.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
packaging==24.1
pycparser==2.22
pycryptodome==3.21.0
pymongo==4.8.0
pyproject_hooks==1.1.0
python-dotenv==1.0.1
urllib3==2.2.3
validate-email-wt==1.4.6
Werkzeug==3.0.4
