.delete_data_button{
    background-color: red;
    cursor: pointer;
}

.steps-explanation div {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    background: inherit;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}
.steps-explanation {
    padding: 10px;
    margin-bottom: 5px;
    background: #3498db;
    color: white;
    border-radius: 5px;
    word-wrap:break-word;
    overflow-wrap: break-word; 
    white-space: normal;
}

.submit_string_button{
    background-color: #3498db;
    cursor: pointer;
}