*{
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}
a {
    text-decoration: none;
    color: #0067b8;
    float: left;
    
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-image: url("/static/images/km/illustration.png");
    font-size: 0.90em;
    background-position: center;



    background-size: cover;

    height: 100vh;

    width: 100%;
    display: flex;
    justify-content: center;

    align-items: center;

    height: 100vh;

}





.banner-logo {
    display: block;
    margin: 0 0 20px;
}

.identity-banner {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}



.backButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.backButton img {
    width: 24px;
    height: 24px;
}


.title {
    
    font-size: 1.3em;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.input {
    padding: 4px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    height: 32px;
    height: 2rem;
    padding: 6px 10px;
    border-width: 1px;
    border-color: #666;
    border-color: rgba(0, 0, 0, 0.6);
    height: 36px;
    outline: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    width: 98%;
    
    margin-right:10px;
}

.button-container {
    text-align: right;
}

.button {
    padding: 5px 10px;
    border-color: #0067b8;
    background-color: #0067b8;

    color: white;

    cursor: pointer;
    font-size: 1em;
}

.button:hover {
    background-color: #005a9e;
}

.password-reset-links-container {
    margin-left: 17px;
    margin-top: 0px;
}

.boilerplate-text {
    max-width: 400px;
    width: 100%;
    height: 15%;
    font-size: 0.9em;
    color: #000000;
    background-color: #f0f0f0;
    padding: 7%;
    margin: 0px;
    font-size: .9375rem;
}
.sign-in-box {
    
    z-index: 1;
    width: 100%;
    height: 85%;
    max-width: 400px;
    margin: 0px;
    margin-bottom: 0px;
    padding: 7%;
    background-color: #ffffff;

}
.sign-in-box-container{
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 436px;
    
    

}
.sign-in-box-area{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: fit-content;
    clip-path: rect(5px 110% 100% 0px round 0%);;
    
    
}
.email-title{
    margin-bottom: 0px;
    font-size:1.5rem; 
    margin-top: 10px;
    
}

.email-subtitle{
    margin-top: 0px; font-size: 0.8rem;
}
.error-message {
    color: red;
    display: none;
}
@keyframes Scroll-left {
    0% {
        transform: translateX(0);
        opacity: 100%;
        display: flex;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0%;
        display: none;
    }
}
@keyframes Scroll-right {
    0% {
        transform: translateX(0);
        opacity: 100%;
        display: flex;
    }

    100% {
        transform: translateX(100%);
        opacity: 0%;
        display: none;
    }
}