<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css')}}"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
	<link href="{{ url_for('static', filename='css/magnific-popup.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tooplate-style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/data.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/components/navbar.css')}}" rel="stylesheet"> <!-- css for the navbar-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/charts/charts.js')}}"></script>
    <link rel="shortcut icon" , href="{{ url_for('static', filename='favicon.ico') }}">
    
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="tm-container-fluid">
        <section class=" tm-flex-center tm-mb-50 tm-bgcolor-4 tm-border-rounded">
            <h1 style="color: black;">Website user type data</h1>
        <div id="pie_chart_visited_users" class="chart"></div>
        
        </section>

        <section class=" tm-flex-center tm-mb-50 tm-bgcolor-4 tm-border-rounded">
            <h1 style="color: black;">Website trafic data</h1>

        <div id="time_visit_chart" class="chart"></div>
        </section>

        <section class=" tm-flex-center tm-mb-50 tm-bgcolor-4 tm-border-rounded">
            <h1 style="color: black;">Verkeer op een bepaald moment van de dag</h1>
            <div id="hourly_visit_chart" class="chart"></div>
        </section>

        <section class=" tm-flex-center tm-mb-50 tm-bgcolor-4 tm-border-rounded">
            <h1 style="color: black;">Verstuurde e-mails data</h1>
        <div id="email_by_time" class="chart"></div>
        
        </section>


    </div>
    
</body>