<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="shortcut icon" , href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" , type="text/css" , href="{{ url_for('static', filename='css/login2.css') }}">
    <script>
        function checkPassword(event) {
            const passwordInput = event.target.value;
            if (passwordInput) {
                window.location.href = '/typed';
            }
        }
    </script>
</head>

<body>

    <div class="sign-in-box">
        <img src="{{ url_for('static', filename='images/km/bannerlogo.png') }}" alt="Logo" class="banner-logo">

        <div class="identity-banner">
            <button class="backButton">
                <img src="https://aadcdn.msauth.net/shared/1.0/content/images/arrow_left_43280e0ba671a1d8b5e34f1931c4fe4b.svg"
                    alt="terug">
            </button>
            <div class="identity">{{username}}</div>
        </div>

        <div class="title">Wachtwoord invoeren</div>

        <form method="get">
            <div onsubmit="event.preventDefault();" class="form-group">
                <input type="password" name="passwd" class="input" placeholder="Wachtwoord"
                    aria-label="Typ jouw wachtwoord hier" required oninput="checkPassword(event)" maxlength="1">
            </div>
            <div class="button-container">
                <input type="submit" class="button" value="aanmelden">
            </div>
        </form>



        <div class="boilerplate-text">
            Samen leren, samen werken en samen leven binnen Openbaar Onderwijs Groningen.
        </div>
    </div>

</body>

</html>